BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: NonAssignment
MaxEmptyLinesToKeep: 4
AllowShortBlocksOnASingleLine: true